/* id    = # =    " id ='' "
   class = . = " class ='' " */

/* muted color pallete:
#bdd0c4	(189,208,196) [green]
#9ab7d3	(154,183,211) [blue]
#f5d2d3	(245,210,211) [pink]
#f7e1d3	(247,225,211) [yellow]
#dfccf1 (223,204,241) [purple] */

body.v4d {
  /* should we center everything on our site? */
  text-align: center;
}

#fontx {
  /* same font throughout the site? */
  font-family: "Comic Sans MS", cursive, sans-serif;
  /* makes all uppercase letters -> lovecase */
  text-transform: lowercase;
}

/* color [of background]: #9ab7d3 */

/* unnecessary:::
#menu {
   if we are going with the blue background
  color: #f5d2d3;
} */
