body {
  font-family: sans-serif;
  background-color: #f4f6f9;
}
.menu {
  overflow: hidden;
  background-color: #dbe8ff;
}

.menu a {
  float: left;
  display: block;
  color: #3d495e;
  text-align: center;
  padding: 14px 125px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: #3d495e;
  color: #f4f6f9;
}

.active {
  background-color: #b3cdf9;
  color: #f4f6f9;
}

.menu .icon {
  display: none;
}

#location{
  position: absolute;
  left: 50px;
  height: 50px;
  width: 100px;
}

#age{
  position: absolute;
  left: 900px;
  height: 50px;
  width: 100px;
}

.text{
  font-family: sans-serif;
}

img{
  position: absolute;
  height: 600px;
  width: 800px;
  left: 125px;
  top: 200px;
}

button{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 500px;
  top: 125px;
}
/* id    = # =    " id ='' "
   class = . = " class ='' " */

/* muted color pallete:
#bdd0c4	(189,208,196) [green]
#9ab7d3	(154,183,211) [blue]
#f5d2d3	(245,210,211) [pink]
#f7e1d3	(247,225,211) [yellow]
#dfccf1 (223,204,241) [purple] */

body.v4d {
  text-align: center;
}

#fontx {
  /* same font throughout the site? */
  font-family: "Comic Sans MS", cursive, sans-serif;
  /* makes all uppercase letters -> lovercase */
  text-transform: lowercase;
}

/* color [of background]: #9ab7d3 */

/* unnecessary:::
#menu {
   if we are going with the blue background
  color: #f5d2d3;
} */

.column {
  float: left;
  width: 50%
}

.row:after {
  content:"";
  display: table;
  clear: both;
}
